@charset "UTF-8";

body{
     font-family: Arial;
     margin:0;
    }

 /* NAVBAR */
 .navbar{
         display:flex;
         align-items:center;
         justify-content:space-between;
         padding:15px;
         background:#f4f4f4;
        }
